# Form page to login
<!DOCTYPE html>
<html>
    <head>
        <title>Hello Avengers</title>
        <meta charset="utf-8"/>
        <link ttoe="text/css" rel="stylsheet" href="/stylesheets/login_style.css"/>
    </head>
    <body>
        <h1>Welcome Avengers</h1>
        <h2>Sign In To Get Started</h2>

        <form method="POST" action="login">
            <input type="name" name="user_name" placeholder="enter your username"/></br>
            <input type="password" name="password" placeholder="enter your password"/></br>
            <input type="submit" value="Login"/>
        </form>

        <button type="button" class="form_link"><a href="/sessions/sign_up">Sign Up</a></button>
    </body>
</html>