    <header>
        <div class="header">
            <h1><img src="../images/logo.png" width="80px" height="80px" alt="Avengers Logo"/></h1>
        </div>
    </header>

    <% if flash.has?(:message) %>
      <p><%= flash[:message] %></p>
    <% end %>

    <form method="POST" action="/sign_up">
        <input type="name" name="hero_name" placeholder="Enter your hero name"></br>
        <input type="name" name="user_name" placeholder="Enter your user name"></br>
        <input type="password" name="password" placeholder="Enter your password" required></br>
        <input type="submit" value="Sign Up">
    </form>

      <button type="button" class="form_link"><a href="/logins">Login</a></button>

      <footer class="branding">
        <small>&copy; 2019 <strong>Avengers</strong></small>
      </footer>
