body{
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
    background: url("../images/background.jpg") center center no-repeat fixed;
    background-size: cover;
}
.header h1{
    text-align: center;
}

form{
    display: inline-block;
    margin-top: 20%;
}
input{
    padding: 10px;
    margin-bottom: 10px;
}